<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189439879528-kkh6siuef05snkmrdqdv2ap3r2uvkcfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189439879528-kkh6siuef05snkmrdqdv2ap3r2uvkcfn</string>
	<key>API_KEY</key>
	<string>AIzaSyBnIkJVv1MpCvMhYlIJ6rlu7z2SQMF6Lj0</string>
	<key>GCM_SENDER_ID</key>
	<string>189439879528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.myApp.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios-13-1d0b8</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios-13-1d0b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189439879528:ios:4ac734beee12783f6f8edd</string>
	<key>DATABASE_URL</key>
	<string>https://flashchatios-13-1d0b8.firebaseio.com</string>
</dict>
</plist>